body {
    background-color: blue;
    color: white;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OngleipParkDahyeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.retro-font-1 {
    font-family: 'RoundedFixedsys';
    font-size: 100px;
}

.cat-font-1 {
    font-family: 'OngleipParkDahyeon';
    font-size: 70px;
}

.box-1 {
    display: flex;
    width: 128px;
    height: 64px;
    background-color: black;
    color: lawngreen;
}